# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# Bytecode/Cache
*.egg-info/
.eggs/
*.egg

# Distribution
build/
dist/

# Database
*.sqlite3

# Logs
*.log

# IDE/project files
.idea/

# Poetry
poetry.lock

# Optional system
.DS_Store

# DB
*.db